body {
  padding-bottom: 10vh;
}

.view-button {
  position: fixed;
  right: 4vw;
  bottom: 4vh;
}

nav {
  background-color: transparent;
}

.menu-button {
  max-width: 16rem;
  margin: 2rem 0 2rem 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#main-nav {
  width: 20vw;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 4rem 2rem 2rem 2rem;
  background: #363636;
  color: white;
}

#main-nav ul {
  display: flex;
  flex-direction: column;
}

#main-nav ul li {
  font-weight: 700;
}

.toggle-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
}

#main-recipe {
  padding: 2rem 0 2rem 2rem;
  transform: translateX(-2rem);
  transition: all 0.3s ease;
}

#main-recipe.active {
  margin-left: 10vw;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-100%);
}
